@{
	ViewData["Title"] = "Database Files";
}

@{
	Layout = "_Layout";
}


@model List<dba_tool.Models.databaseFiles>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Database Files</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Database Files</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Details on Database Files</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>File Name</th>
										<th>File Location</th>
										<th>File Type</th>
										<th>State</th>
										<th>Size</th>
										<th>Max Size</th>
										<th>Auto Growth</th>
									</tr>
								</thead>
								<tbody>
									@{
										if (Model != null)
										{
											foreach (var item in Model)
											{
												<tr>
													<td>@item.name.ToString()</td>
													<td>@item.path.ToString()</td>
													<td>@item.type.ToString()</td>
													<td>@item.state.ToString()</td>
													<td>@item.size</td>
													<td>@item.max_size</td>
													<td>@item.growth</td>

												</tr>
											}
										}
									}

								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
					<!-- /.card-body -->
					<!--</div>-->
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

<!-- jQuery -->
<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/theme/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/theme/plugins/jszip/jszip.min.js"></script>
<script src="~/theme/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/theme/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Page specific script -->
<script>
	$(function () {
		$("#example1").DataTable({
			"responsive": true, "lengthChange": false, "autoWidth": false,
			"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
		}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
		$('#example2').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": false,
			"ordering": true,
			"info": true,
			"autoWidth": false,
			"responsive": true,
		});
	});</script>