@model List<dba_tool.Models.databaseFiles>
<!-- Content Wrapper. Contains page content -->
@{
	ViewData["Title"] = "Dashboard";
}
@{
	Layout = "_Layout";
}



<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>@ViewBag.SelectedDB Database</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>


	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">Summary</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="row">
								<div class="col-sm-4">
									<div class="position-relative p-3 bg-gray" style="height: 160px">
										<div class="ribbon-wrapper ribbon-lg">
											<div class="ribbon bg-info">
												Tables


											</div>
										</div>
										Total Number of Tables <br /><br />
										<h6 style=" padding-left: 20px; font-style: italic">@ViewBag.tableCount</h6><br />
										<a href="~/MoreDetail/MoreTable" class="btn btn-primary">More Details</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="position-relative p-3 bg-gray" style="height: 160px">
										<div class="ribbon-wrapper ribbon-lg">
											<div class="ribbon bg-info">
												Views


											</div>
										</div>
										Total Number of Views <br /><br />
										<h6 style=" padding-left: 20px; font-style: italic">@ViewBag.viewCount</h6><br />
										<a href="~/MoreDetail/MoreView" class="btn btn-primary">More Details</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="position-relative p-3 bg-gray" style="height: 160px">
										<div class="ribbon-wrapper ribbon-lg">
											<div class="ribbon bg-secondary">
												Indexes
											</div>
										</div>
										Total Number of Indexes <br /><br />
										<h6 style="padding-left: 20px; font-style: italic">@ViewBag.indexCount</h6><br />
										<a href="~/MoreDetail/MoreIndex" class="btn btn-primary">More Details</a>
									</div>
								</div>
							</div><br>
							<div class="row mt-12">
								<div class="col-sm-8">
									<div class="position-relative p-3 bg-gray" style="height: 200px">
										<div class="ribbon-wrapper ribbon-lg">
											<div class="ribbon bg-info">
												Database Files


											</div>
										</div>
										Database Files Location <br />
										@{
											if (Model != null)
											{
												foreach (var Data in Model)
												{
													<small style="font-weight:bold">@Data.file_name[0]: </small>
													<small style="font-style:italic">" @Data.file_path[0] "</small><br />
												}
											}
										}<br /><br />
										<a href="~/MoreDetail/MoreDatabaseFiles" class="btn btn-primary">More Details</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="position-relative p-3 bg-gray" style="height: 200px">
										<div class="ribbon-wrapper ribbon-lg">
											<div class="ribbon bg-info">
												Log Space


											</div>
										</div>
										Log Space Usage <br />
										<small style=" padding-left:20px; font-weight:bold">Total Log Space:</small><small style="font-style: italic"> @ViewBag.totalLogSpace MB</small><br />
										<small style=" padding-left: 20px; font-weight: bold">Used Log Space:</small><small style="font-style: italic"> @ViewBag.usedLogSpace MB</small><br />
										<small style=" padding-left: 20px; font-weight: bold">Used Log Space in Percent:</small><small style="font-style: italic"> @ViewBag.usedLogPercent %</small><br /><br />
										<a href="~/AllDB/DiskUsage" class="btn btn-primary">More Details</a>
									</div>
								</div>
							</div>

						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->